@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);

body {
  overflow: hidden;
  background-image: url('../dark_bg.webp');
  color: whitesmoke;
  cursor: url('../icons/cursor.png'), auto;
}

a:hover {
  cursor: url('../icons/pointer.png'), auto;
}

.btn:hover, .btn-primary:hover {
  cursor: url('../icons/ok.png'), auto;
}

#name:hover, #email:hover {
  cursor: url('../icons/feather.png'), auto;
}

#message:hover {
  cursor: url('../icons/msg.png'), auto;
}

#reason:hover, .dropdown-item:hover {
  cursor: url('../icons/cursor.png'), auto;
}

.default {
    font-family: 'Kavivanar', cursive;    
}
  
.digital {
  font-family: 'Geo', sans-serif;
}
  
.handwriting {
  font-family: 'Patrick Hand', cursive;
}
  
.typing {
  font-family: 'Yomogi', cursive;
}

.rotate {
  transform: rotate(10deg);
  border: 1px groove beige;    
}

.man {
  font-family: 'Source Code Pro', monospace;  
  color: white;
  font-size: 12px;
  padding-top: 5px;  
}

.thm_badge {  
  position: fixed;
  bottom: 0;
  left: 0;
}

.li_badge {
  margin-top: 5px;;
  position: fixed;
  bottom: 5px;
  left: 300px;
  color: limegreen;
  background-color: darkslategrey;
  border-radius: 50px 10px 10px 50px;
  width: 250px;
  height: 57px;
}

.liheading {
  font-family: 'Source Code Pro', monospace;  
  color: white;
  font-size: 10px;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
}

input, textarea {
  
  border-radius: 5px;
}

input:invalid, textarea:invalid {
  border: 3px solid red;

}

input:valid, textarea:valid {
  border: 3px solid green;
}
